.item1 {
    grid-area: header;
}

.item2 {
    grid-area: menu;
}

.item3 {
    grid-area: main;
}

.item4 {
    grid-area: right;
}

.item5 {
    grid-area: footer;
    position: relative;
}

.grid-container {
    display: grid;
    grid-template-columns: 10% 40% 20%;
    grid-template-areas: 'header header header header header header' 'menu main main main right right' 'footer footer footer footer footer footer';
}

.grid-container>div {
    background-color: rgba(255, 255, 255, 0.8);
}

#clockContainer {
    position: relative;
    margin: auto;
    height: 70px;
    width: 70px;
    background: url(clock.png) no-repeat;
    background-size: 100%;
}

#hour,
#minute,
#second {
    position: absolute;
    background: black;
    border-radius: 10px;
    transform-origin: bottom;
}

#hour {
    width: 1.8%;
    height: 25%;
    top: 25%;
    left: 48.85%;
    opacity: 0.8;
}

#minute {
    width: 1.6%;
    height: 30%;
    top: 19%;
    left: 48.9%;
    opacity: 0.8;
}

#second {
    width: 1%;
    height: 40%;
    top: 9%;
    left: 49.25%;
    opacity: 0.8;
}

.wheel2 img {
    width: 130px;
    position: fixed;
    animation: wheelRotation linear .16s infinite;
}

@keyframes wheelRotation {
    100% {
        transform: rotate(360deg);
    }
}